/* navbar container styles */
.navbar {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Sticky position so that navbar would stay on top*/
    z-index: 1; /* Set stacking order so navbar would stay above all other elements in page*/
    top: 0; /* 0 position from top */
    background-color: white;
}

/* Logo styles */
.navbar .logo {
    width: 200px;
}

/* Styles of navbar menu at the center */
.navbar-menu {
    display: flex;
    list-style: none; /* No list style */
    gap: 50px;
    color: #49557e;
    font-size: 15px;
}

/* Style of navbar elements on the right side */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;

}

/* Sign In button styles */
.navbar button {
    background: transparent;
    font-size: 15px;
    color:#49557e;
    border: 1px solid #c6386e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

/* Sign In button hover effect: changing color */
.navbar button:hover {
    background-color: #fff4f2;
}

/* Active menu item styles: underline */
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

/* navbar item list style */
.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

/* Dot on the upper right side of food basket styles */
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: lightcoral;
    border-radius: 5px;
    top: -5px;
    right: -5px;
}

/* Media queries for medium screens */
@media (max-width: 1080px) {
    .navbar .logo {
        width: 200px;

    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 30px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}
/* Media queries for small screens */
@media (max-width: 900px) {
    .navbar .logo {
        width: 140px;

    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 25px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}
/* Media queries for smaller screens */
@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}